<app-loader *ngIf="isLoading"></app-loader>

<div class="mx-3 md:mx-12 lg:mx-24">
    <div class="mt-4 mb-3">
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="my-4 text-2xl">
        <h1 class="text-black font-medium capitalize">{{this.actRoute.snapshot.params['tag']}} Blogs</h1>
    </div>
    <div class="grid grid-cols-3 gap-6 px-2">
        <div class="col-span-3 md:col-span-1 border rounded overflow-hidden" *ngFor="let blog of blogDetail">
            <div class="w-full">
                <div class="h-44 imgDiv">
                    <img class="w-full h-full" [src]="'/assets/images/'+blog?.image">
                </div>
                <div class="h-40 p-4 bg-white flex flex-col justify-between">
                    <h1 class="text-black text-lg blog-title cursor-pointer"><a
                            [routerLink]="'/blogs/details/'+blog?.id">{{blog?.title}}</a></h1>
                    <div class="flex justify-between items-center">
                        <p class="text-sm text-slate-500 flex flex-col">
                            <span>by<span class="text-sky-400"> &#64;CodePlus admin</span></span>
                            <span class="flex items-center mt-2"><i class="far fa-clock text-sm mr-1"></i>
                                <span>{{blog?.createdAt | date}}</span></span>
                        </p>
                        <p class="text-sm text-slate-500 flex items-center cursor-pointer hover:text-slate-600"
                            (click)="_sharedService.shareBlog(blog)"><i class="fa fa-share mr-1"></i>Share</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>