<app-loader *ngIf="isLoading"></app-loader>

<div class="mx-3 md:mx-12 lg:mx-24">
    <div class="mt-4 mb-3">
        <app-breadcrumb></app-breadcrumb>
    </div>

    <form class="w-full p-10 rounded" [formGroup]="blogForm">

        <div class="mb-5 text-2xl">
            <h1 class="text-black font-medium text-center">Write Your Blog</h1>
        </div>

        <div class="w-full lg:w-2/4 mx-auto">
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Blog Title</label>
                <div class="mt-2">
                    <input type="text"
                        class="py-2 px-4 w-full outline-none rounded ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-sky-500"
                        placeholder="Title" formControlName="title">
                </div>
            </div>

            <div class="mb-4">
                <label for="about" class="block text-sm font-medium leading-6 text-gray-900">Blog Description</label>
                <div class="mt-2">
                    <textarea id="about" name="about" rows="5" formControlName="details"
                        class="py-2 px-4 w-full outline-none rounded ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-sky-500"></textarea>
                </div>
                <p class="text-sm leading-6 text-gray-600">Share your thoughts on the topic.</p>
            </div>

            <div class="mb-4">
                <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Blog Topic</label>
                <div class="mt-2">
                    <ng-select [multiple]="true" placeholder="Select Tags" formControlName="tags">
                        <ng-option *ngFor="let tag of tags" [value]="tag">{{tag}}</ng-option>
                    </ng-select>
                </div>
            </div>

            <!-- <div class="">
                <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Cover photo</label>
                <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-300 px-6 py-8">
                    <div class="text-center">
                        <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                clip-rule="evenodd" />
                        </svg>
                        <div class="mt-3 flex text-sm leading-6 text-gray-600">
                            <label for="file-upload"
                                class="relative cursor-pointer rounded-md bg-white font-semibold text-sky-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                <span>Upload a file</span>
                                <input id="file-upload" name="file-upload" type="file" class="sr-only">
                            </label>
                            <p class="pl-1">or drag and drop</p>
                        </div>
                        <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                    </div>
                </div>
            </div> -->

            <div class="mt-8 flex items-center justify-end gap-x-6">
                <button type="button" class="text-sm font-semibold leading-6 text-gray-900"
                    (click)="blogForm.reset()">Cancel</button>
                <button type="button" [disabled]="isLoading" (click)="createBlog()" class="primary-btn">Save</button>
            </div>
        </div>

    </form>
</div>