nav {
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;

    .plus {
        // color: #007bff;
        color: #38bdf8;
        opacity: 0;
        animation: pulse 1.5s infinite;
    }

    .nav-menus>li {
        margin: 0 12px;

        a {
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;
        }

        ul {
            background-color: #fefeff;
            top: 36px;
            box-shadow: #00000005 0 1px 3px, #0000001a 0 0 0 1px;
            z-index: 999;

            li {
                cursor: pointer;

                &:hover {
                    color: #38bdf8;
                }
            }
        }
    }

    @keyframes pulse {
        0% {
            opacity: 0.5;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0.5;
        }
    }

    .sec-right {
        position: relative;

        .userProfile {
            width: 12vw;
            position: absolute;
            top: 48px;
            right: -4px;
            background-color: #fefeff;
            // border-top: 2px solid #38bdf8;
            box-shadow: #00000005 0 1px 3px, #0000001a 0 0 0 1px;
            z-index: 999;
        }
    }

    .searchDiv {
        position: absolute;
        background-color: #fefeff;
        top: 63px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
}


@media(max-width:992px) {
    nav {

        .nav-menus {
            width: 100%;
            height: 100vh;
            background-color: #ffffff;
            position: fixed;
            top: 63px;
            left: -100%;
            text-align: center;
            transition: all .5s;

            li {
                margin: 25px 0;

                a {
                    font-size: 20px;
                }
            }
        }

        .show {
            left: 0;
        }
    }

    .sec-right {

        .userProfile {
            right: 0 !important;
            width: 40vw !important;
        }
    }

}