<!-- <p routerLink="/details">home works!</p> -->
<div class="my-4 text-2xl">
    <h1 class="text-black font-medium">Featured Stories</h1>
</div>

<!-- section 1 -->
<div class="grid grid-cols-2 gap-4 px-2">
    <div class="col-span-2 md:col-span-1 border rounded overflow-hidden">
        <div class="w-full">
            <div class="h-2/4 imgDiv">
                <img class="w-full h-full" src="/assets/images/home-img-3.png" alt="">
            </div>
            <div class="px-4 py-8 bg-white">
                <p class="text-xs"><span class="bg-sky-400 text-white p-1 mr-1 rounded hover:underline">#CSS</span><span
                        class="bg-sky-400 text-white p-1 ml-1 rounded hover:underline">#JavaScript</span></p>
                <h1 class="my-4 text-black text-xl hover:text-sky-500 cursor-pointer">Let Users Know What’s Going on
                    with the Blazor Notification Component</h1>
                <div class="flex justify-between mt-8">
                    <p class="text-sm text-slate-500 flex flex-col md:flex-row">
                        <span>by<span class="text-sky-400 md:px-1 md:border-r">@CodePlus admin</span></span>
                        <span class="flex"><img class="md:pl-1 md:border-l" src="/assets/icons/clock.png"
                                alt="img"> <span class="ml-1">December 10, 2023</span></span>
                    </p>
                    <p class="text-sm text-slate-500 flex items-center"><img class="h-5 mr-1"
                            src="/assets/icons/share.png" alt="img">Share</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-span-2 md:col-span-1 border rounded overflow-hidden">
        <div class="w-full">
            <div class="h-2/4 imgDiv">
                <img class="w-full h-full" src="/assets/images/home-img-1.png" alt="">
            </div>
            <div class="px-4 py-8 bg-white">
                <p class="text-xs"><span class="bg-sky-400 text-white p-1 mr-1 rounded hover:underline">#web</span><span
                        class="bg-sky-400 text-white p-1 mr-1 rounded hover:underline">#angular</span><span
                        class="bg-sky-400 text-white p-1 ml-1 rounded hover:underline">#JavaScript</span></p>
                <h1 class="my-4 text-black text-xl hover:text-sky-500 cursor-pointer">How to Blend Reporting and Angular
                    Applications Seamlessly</h1>
                <div class="flex justify-between mt-8">
                    <p class="text-sm text-slate-500 flex flex-col md:flex-row">
                        <span>by<span class="text-sky-400 md:px-1 md:border-r">@CodePlus admin</span></span>
                        <span class="flex"><img class="md:pl-1 md:border-l" src="/assets/icons/clock.png"
                                alt="img"> <span class="ml-1">December 10, 2023</span></span>
                    </p>
                    <p class="text-sm text-slate-500 flex items-center cursor-pointer"><img class="h-5 mr-1"
                            src="/assets/icons/share.png" alt="img">Share</p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- section 2 -->
<div class="my-4 flex justify-between items-center">
    <h1 class="text-black text-2xl font-medium">Latest Blogs</h1>
    <p><a href="x">View More</a></p>
</div>
