<div class="mt-4 md:mt-0 mx-2 md:mx-0 border p-4 rounded shadow-sm" style="background-color: #ffffff;">
    <div class="text-2xl mb-4">
        <h1 class="text-black font-medium">Table of Content</h1>
    </div>
    <ul class="pl-5 flex flex-col gap-1">
        <li>
            <div class="text-slate-500 hover:text-sky-500 flex items-center gap-2" (click)="onStories()">
                <i class='fas fa-book-open text-base'></i> <span>Featured Stories</span>
            </div>
        </li>
        <li>
            <div class="text-slate-500 hover:text-sky-500 flex items-center gap-2" (click)="onLatest()">
                <i class='fas fa-newspaper text-base'></i>
                <span>Latest Blogs</span>
            </div>
        </li>
        <li>
            <div class="text-slate-500 hover:text-sky-500 flex items-center gap-2" (click)="onFrontend()">
                <i class='fas fa-window-maximize text-base'></i>
                <span>Frontend Blogs</span>
            </div>
        </li>
        <li>
            <div class="text-slate-500 hover:text-sky-500 flex items-center gap-2" (click)="onBackend()">
                <i class='fas fa-server text-base'></i>
                <span>Backend Blogs</span>
            </div>
        </li>
        <li>
            <div class="text-slate-500 hover:text-sky-500 flex items-center gap-2" (click)="onFullstack()">
                <i class='fas fa-layer-group text-base'></i>
                <span>Full-stack Blogs</span>
            </div>
        </li>
        <li>
            <div class="text-slate-500 hover:text-sky-500 flex items-center gap-2" (click)="onSubscribeNow()">
                <i class='fas fa-paper-plane text-base'></i>
                <span>Subscribe Now</span>
            </div>
        </li>
    </ul>
</div>

<div class="mt-6 mx-2 md:mx-0 border p-4 rounded shadow-sm" style="background-color: #ffffff;">
    <div class="">
        <h1 class="text-black text-2xl font-medium">Popular Tags</h1>
    </div>
    <div class="flex flex-wrap text-sm my-4">
        <a class="bg-sky-400 text-white p-1 m-1 rounded hover:underline" [routerLink]="'/blogs/'+tag"
            *ngFor="let tag of tags">#{{tag}}</a>
    </div>
</div>