<div class="mt-4 md:mt-0 mx-2 md:mx-0 border p-4 rounded shadow-sm" style="background-color: #ffffff;">
    <div class="text-2xl mb-4">
        <h1 class="text-black font-medium">Table of Content</h1>
    </div>
    <ul class="pl-5">
        <li class="text-slate-500 hover:text-sky-500" (click)="onStories()"><i
                class='fa fa-angle-right mr-2'></i>Featured Stories</li>
        <li class="text-slate-500 hover:text-sky-500" (click)="onLatest()"><i class='fa fa-angle-right mr-2'></i>Latest
            Blogs</li>
        <li class="text-slate-500 hover:text-sky-500" (click)="onFrontend()"><i
                class='fa fa-angle-right mr-2'></i>Frontend Blogs</li>
        <li class="text-slate-500 hover:text-sky-500" (click)="onBackend()"><i
                class='fa fa-angle-right mr-2'></i>Backend Blogs
        </li>
        <li class="text-slate-500 hover:text-sky-500" (click)="onFullstack()"><i
                class='fa fa-angle-right mr-2'></i>Full-stack Blogs</li>
    </ul>
</div>

<div class="mt-6 mx-2 md:mx-0 border p-4 rounded shadow-sm" style="background-color: #ffffff;">
    <div class="">
        <h1 class="text-black text-2xl font-medium">Popular Tags</h1>
    </div>
    <div class="flex flex-wrap text-sm my-4">
        <a class="bg-sky-400 text-white p-1 m-1 rounded hover:underline" [routerLink]="'/blogs/'+tag"
            *ngFor="let tag of tags">#{{tag}}</a>
    </div>
</div>