.imgDiv {
    overflow: hidden;
    cursor: pointer;

    img {
        // position: relative;
        z-index: -2;
        scale: 1;
        transition: ease .5s;

        &:hover {
            scale: 1.1;
        }
    }

}

.blog-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    &:hover {
        color: #38bdf8;
        text-decoration: underline;
    }
}