<app-loader *ngIf="isLoading"></app-loader>

<div class="footer py-10">
    <div class="mx-3 md:mx-12 lg:mx-24">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
            <div class="">
                <label class="text-3xl"> Code<span class="plus">Plus</span></label>
                <p class="mt-4 text-justify">Your gateway to coding expertise! Dive into our coding blogs for insightful
                    tutorials, expert tips, and
                    in-depth articles covering programming languages, frameworks, best practices, and the latest tech
                    trends.</p>
            </div>
            <div class="flex justify-center md:items-center flex-col">
                <div class="quickLinks">
                    <label class="heading">Quick Links</label>
                    <ul class="mt-4">
                        <li><a routerLink="/blogs/featured">Featured Stories</a>s</li>
                        <li><a routerLink="/blogs/latest">Latest Blogs</a></li>
                        <li><a routerLink="/blogs/frontend">Frontend Blogs</a></li>
                        <li><a routerLink="/blogs/backend">Backend Blogs</a></li>
                        <li><a routerLink="/blogs/fullstack">Fullstack Blogs</a></li>
                    </ul>
                </div>
            </div>
            <div class="">
                <label class="heading">Subscribe</label>
                <p class="my-4">Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                <div class="w-full flex">
                    <input type="email" [formControl]="email"
                        class="px-3 py-2 bg-white text-slate-500 placeholder-slate-400 w-3/5 rounded-l-md outline-none"
                        placeholder="Enter Email">
                    <button (click)="addSubscriber()" class="w-1/4 primary-btn rounded-r-md" style="border-radius: 0px; 
                    border-top-right-radius: 0.375rem ; border-bottom-right-radius: 0.375rem;">
                        <i class="fas fa-paper-plane text-white"></i>
                        <!-- <i class='far fa-paper-plane text-white'></i> -->
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="py-5 mx-3 md:mx-12 lg:mx-24 flex flex-col md:flex-row justify-between items-center">
        <p>Copyright © {{currentYear}}, All Right Reserved! <span class="text-sky-500">CodePlus</span></p>
        <div class="social-icons mt-4 md:mt-0">
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-instagram"></i></a>
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</div>