<div class="mx-3 md:mx-12 lg:mx-24">
    <div class="mt-4 mb-3">
        <app-breadcrumb></app-breadcrumb>
    </div>

    <div class="w-full p-2 lg:p-10 rounded faqs">

        <div class="mb-5 text-2xl">
            <h1 class="text-black font-medium text-center">FAQs</h1>
        </div>

        <ng-container *ngFor="let faq of faqs; let i = index">
            <div class="w-full lg:w-3/4 mx-auto my-5 p-4 rounded cursor-pointer faqDiv">
                <h5 class="flex justify-between items-center text-lg font-medium"
                    [ngClass]="selectedQuestionIndex === i ? 'text-sky-500':''" (click)="onQue(i)">
                    <span>{{faq.que}}</span> <i class="fa fa-angle-down" *ngIf="selectedQuestionIndex !== i"></i>
                    <i class="fa fa-angle-up" *ngIf="selectedQuestionIndex === i"></i>
                </h5>
                <p class="text-base text-slate-500 text-justify mt-2 transition-opacity duration-300" *ngIf="selectedQuestionIndex === i">{{faq.ans}}
                </p>
            </div>
        </ng-container>
    </div>
</div>