<app-loader *ngIf="isLoading"></app-loader>

<div class="mx-3 md:mx-12 lg:mx-24">
    <div class="mt-4 mb-3">
        <app-breadcrumb></app-breadcrumb>
    </div>

    <form class="w-full p-10 rounded bg-white" [formGroup]="userForm">

        <div class="mb-5 text-2xl">
            <h1 class="text-black font-medium text-center">My Profile</h1>
        </div>

        <div class="w-full lg:w-2/4 mx-auto">
            <div class="grid grid-cols-1 gap-4">
                <div>
                    <label class="text-base font-medium leading-6 text-gray-900">Name</label>
                    <input type="text"
                        class="py-2 px-4 w-full outline-none rounded ring-1 ring-gray-200 placeholder:text-gray-400 focus:ring-sky-500"
                        placeholder="Name" formControlName="username">
                </div>

                <div>
                    <label class="text-base font-medium leading-6 text-gray-900">Email</label>
                    <input type="text"
                        class="py-2 px-4 w-full outline-none rounded ring-1 ring-gray-200 placeholder:text-gray-400 focus:ring-sky-500"
                        placeholder="Email" formControlName="email">
                </div>

                <div>
                    <label class="text-base font-medium leading-6 text-gray-900">Password</label>
                    <input type="text"
                        class="py-2 px-4 w-full outline-none rounded ring-1 ring-gray-200 placeholder:text-gray-400 focus:ring-sky-500"
                        placeholder="Password" formControlName="password">
                </div>
            </div>

            <div class="mt-8 flex items-center justify-end gap-x-6">
                <button class="text-sm font-semibold leading-6 text-gray-900" (click)="userForm.reset()">Cancel</button>
                <button [disabled]="isLoading" (click)="updateProfile()" class="primary-btn">Save</button>
            </div>

        </div>

    </form>
</div>