<div class="container m-auto">
    <label class="text-slate-500 text-4xl"> Code<span class="plus">Plus</span></label>
    <div class="login">
        <h1 class="text-xl text-center">Trouble with logging in?</h1>
        <p class="mt-3 text-sm text-center text-slate-500">Enter your email address to receive an OTP. Verify it to
            reset your password.</p>
        <form class="mt-5">
            <input type="email" class="input-field" placeholder="Email address" [formControl]="email">
            <!-- <input type="password" class="input-field" placeholder="Enter your password" formControlName="password"> -->

            <div class="mb-5">
                <button class="btn-signin" (click)="verifyEmail()" [disabled]="isLoading">
                    <span class="loader" *ngIf="isLoading"></span>
                    <span *ngIf="!isLoading">Verify Email</span>
                </button>
            </div>
            <div class="mt-4 text-center">
                <a class="link" routerLink="/sign-up">Create new account</a>
            </div>
        </form>
    </div>
</div>