// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blogs-primary: mat.define-palette(mat.$indigo-palette);
$blogs-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$blogs-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$blogs-theme: mat.define-light-theme((color: (primary: $blogs-primary,
        accent: $blogs-accent,
        warn: $blogs-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($blogs-theme);

/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

// ng select
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #fafafa;
}

// sweet alert
.swal2-popup {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  border-radius: 10px;
}

.swal2-title {
  font-size: 1.6em !important;
}

.swal2-confirm {
  background-color: #0ea5e9 !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
}

// buttons
.primary-btn {
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #0ea5e9;
  cursor: pointer;

  &:hover {
    background-color: #0284c7;
  }
}

// common css
.link {
  color: #0ea5e9;
  cursor: pointer;

  :hover {
    color: #0284c7;
  }
}