<div class="blog-detail border rounded md:mr-5">
    <h1 class="title text-3xl">Let Users Know What’s Going on with the Blazor Notification Component </h1>
    <p class="my-4 text-sm text-slate-500 flex flex-col md:flex-row">
        <span>by<span class="text-sky-400 md:px-1 md:border-r">@CodePlus admin</span></span>
        <span class="flex items-center"><i class="far fa-clock md:pl-1"></i> <span class="ml-1">December
                10, 2023</span></span>
    </p>
    <div class="h-2/4 imgDiv">
        <img class="w-full h-full" src="/assets/images/home-img-3.png" alt="">
    </div>

    <hr class="my-4">
    <h1 class="text-black text-3xl">Let Users Know What’s Going on with the Blazor Notification Component </h1>
    <hr class="my-4">

    <p class="text-slate-500">An SOP for a Student Visa is a critical step in realizing your dream of studying abroad.
        It’s a document you submit to immigration officers alongside your visa application. This statement summarizes
        your achievements and explains why you’ve chosen a specific country for your higher studies. Essentially, it
        shows your eligibility for a student visa to immigration authorities.</p>
</div>