<app-loader *ngIf="isLoading"></app-loader>

<div class="blog-detail border rounded md:mr-5">
    <h1 class="title text-3xl"> {{blogDetail?.title}} </h1>
    <div class="my-4 flex justify-between items-center">
        <p class="text-sm text-slate-500 flex flex-col md:flex-row">
            <span>by<span class="text-sky-400 md:px-1 md:border-r">&#64;{{blogDetail?.author?.username}}</span></span>
            <span class="flex items-center"><i class="far fa-clock md:pl-1"></i> <span
                    class="ml-1">{{blogDetail?.createdAt
                    | date}}</span></span>
        </p>
        <p class="text-sm text-slate-500 flex items-center cursor-pointer hover:text-slate-600"
            (click)="_sharedService.shareBlog(blogDetail)"><i class="fa fa-share mr-1"></i>Share</p>
    </div>
    <div class="h-2/4 imgDiv">
        <img class="w-full h-full" [src]="'/assets/images/'+blogDetail?.image">
    </div>

    <hr class="my-4">
    <h1 class="text-black text-3xl"> {{blogDetail?.title}} </h1>
    <hr class="my-4">

    <p class="text-slate-500">{{blogDetail?.details}}</p>
</div>